.checkbox {
    margin-top: 10px;
    padding: 0 25px;
}

.forgot {
    position: absolute;
    bottom: -10px;
    right: 20px;
    font-weight: bold;
    transition: .3s;
}

.forgot:hover {
    color: #6453c9;
}

.button_box {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.button {
    font-size: 18px;
    width: 150px;
}