.buttonsPanel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttonsPanel > button {
    height: 70%;
}

.deleteButton {
    background-color: #ba1f3e;
    color: #ffffff
}

.deleteButton:hover {
    background-color: #d2153a;
}