.buttonsPanel {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.buttonsPanel > button {
    height: 70%;
}

.deleteButton {
    background-color: #ba1f3e;
    color: #ffffff;
}

.deleteButton:hover {
    background-color: #d2153a;
}

.learnButton {
    height: 70%;
}