.learning {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workSpace {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 600px;
    width: 80%;
    border-radius: 10px;

    animation-name: openWorkSpace;
    animation-duration: .8s;
}

.workSpace_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 90%;

    animation-name: informationAnime;
    animation-duration: 3s;
}

.workSpace_container > h2 {
    color: #8141c1;
    font-size: 30px;
    text-align: center;
}

.instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width: 50%;
}

.instruction p {
    text-align: center;
    margin-bottom: 15px;
}

.start {
    display: block;
    font-size: 60px;
    font-weight: bold;
    transition: .5s;
}

.start:hover {
    cursor: pointer;
    color: #8141c1;
}

.startMode {
    background-color: #2196f3;
}

.exit {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 40px;
    margin: 20px;
    transition: .5s;
}

.exit:hover {
    cursor: pointer;
    color: #8141c1;
}

.modal_container {
    position: relative;
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.modal_container img {
    position: absolute;
    top: -50px;
}

@keyframes openWorkSpace {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@keyframes informationAnime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}