.workSpace {
    width: 80%;
    height: 600px;
    background-color: #FEFEFF;
    border-radius: 8px;
}
.workSpace_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    width: 25%;
    height: 550px;
    padding: 25px 0;
    border-radius: 8px 0 0 8px;
    background-color: #ECECF9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 75%;
    height: 100%;
    border-radius: 0 8px 8px 0;
}

@media screen and (max-width: 1180px){
    .workSpace {
        font-size: 12px;
    }
}