.header_container {
    width: 100%;
    height: 10vh;
    background-color: #EBE0E9;
    display: flex;
    justify-content: center;
}

.nav_container {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_container h2 {
    position: absolute;
    left: 0;
}

.nav_container nav {
    height: 100%;
    width: 350px;
    display: flex;
}

@media screen and (max-width: 870px){
    .nav_container nav {
        visibility: hidden;
        opacity: 0;
    }
}