.doubleRange {
    width: 250px;
}

@media screen and (max-width: 1400px){
    .doubleRange {
        width: 200px;
    }
}

@media screen and (max-width: 1090px){
    .doubleRange {
        width: 150px;
    }
}