.settings_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showDecks {
    width: 150px;
    height: 30px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.onBlock {
    width: 75px;
    height: 30px;
    position: absolute;
    top: 0;
    background-color: #9A91C8;
    transition: .8s;
}

.onBlock.myMode {
    left: 0;
}

.onBlock.allMode {
    left: 75px;
}

.my, .all {
    background-color: #ffffff;
}

.showDecks div {
    height: 100%;
    width: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showDecks div:hover {
    cursor: pointer;
}

.range {
    margin: 40px 0;
}

/*list*/

.list_container {
    margin: 25px 50px 10px;
}

.search_container {
    display: flex;
}

.search_container > button {
    position: relative;
    top: 9px;
}

.table_container {
    width: 100%;
    height: 455px;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media screen and (max-width: 1350px){
    .table_container {
        overflow-x: auto;
    }
}

@media screen and (max-width: 850px){
    .showDecks div {
        font-size: 16px;
    }
    .showDecks {
        width: 100px;
        height: 30px;
    }
}

