.table {
    width: 100%;
}

.tableBody {
    background-color: #ECECF9;
    width: 100%;
    height: 384px;
    border-radius: 2px;
    padding: 3px;
}

.pagination {
    padding-top: 15px;
    height: 50px;
}

.circular_box {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callStyle {
    display: grid;
    grid-template-columns: 1.5fr 80px 120px 1fr 220px
}

@media screen and (max-width: 1250px){
    .callStyle {
        grid-template-columns: 250px 80px 120px 150px 220px
    }
    .table {
        width: 820px
    }
}
